.body{
  display: flex;
  justify-content: center;
  align-items: center;
  height:80vh;
}
.task_form{
  width:800px;
  padding: 32px;
  border-radius: 5px;
  box-shadow: 0 4px 16px #ccc;
  font-family:sans-serif;
  letter-spacing: 1px;
  outline:none;
}
.header{
  padding-bottom: 10px;
}
#taskImage{
  border-radius: 15px;
}
.red{
 color: #ff0000;
}
.error{
  border-color: red;
}
small{
  color: #ff0000;
}