.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    top: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    width: 95%;
}

.dropdown-content button {
    color: black;
    text-decoration: none;
    width: 95%;
}

.header-panel {
    border: none;
    background: none;
}

.header-panel:hover {
    box-shadow: 100vw 0 0 0 rgba(0,0,0,.3) inset;
    outline: none;
    text-decoration: none;
}

.header-panel:focus {
    box-shadow: 100vw 0 0 0 rgba(0,0,0,.3) inset;
    outline: none;
    text-decoration: none;
}

.color-user-panel {
    background-color: #007bff !important;
}

.color-social-worker-panel {
    background-color: #ce8642 !important;
}

.color-responsible-panel {
    background-color: #28a745 !important;
}

.color-admin-panel {
    background-color: #a959ea !important;
}

.color-deputy-panel {
    background-color: #17a2b8 !important;
}