.del-img {
    padding: 0;
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -3px;
    text-align: center;
    top: -5px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
    border: 0;
}

.comment-author-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    vertical-align: top;
}

.task-attr {
    display: block;
}