.del-img {
    padding: 0;
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -3px;
    text-align: center;
    top: -5px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
    border: 0;
}

.comment-author-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    vertical-align: top;
}

.task-attr {
    display: block;
}


.feedback-window {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.feedback-window.show {
    opacity:1;
    pointer-events: auto;
}

.feedback-window > div {
    width: 800px;
    position: relative;
    margin: 10% auto;
    padding: 32px;
    border-radius: 10px;
    background: white;
}

.task-preview-img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}