<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>TF|Редактирование проблемы автором</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/validation.css" rel="stylesheet">
    <link href="/css/formData.css" rel="stylesheet">
    <link href="/css/task.css" rel="stylesheet">
    <link href="/css/closeCustom.css" rel="stylesheet">
    <script src=/js/validation.js></script>
    <script src=/js/jointFunctions.js></script>
    <script src=/js/task.js></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=5694d7f9-f8dc-4349-9d30-9dc5a908a417&lang=ru_RU"
            type="text/javascript">
    </script>
    <script src="/js/mapForTaskAdding.js"></script>
</head>
<body onload="loadTaskEdit();">
<header th:insert="blocks/header :: header"></header>
<div id="div-main-block" class="external-cont">
    <div class="form-data" style="width: 800px; font-size: 20px">
        <h3 style="text-align: start;">
            Редактирование проблемы
        </h3>
        <form id="form-task" method="post" th:object="${taskForm}">
            <input type="text" class="form-control mb-3" placeholder="Название" name="taskName"
                   th:value="${taskForm.getTaskName()}" oninput="checkEmpty(this);isNoDuplicate();">
            <textarea class="form-control mb-3" placeholder="Описание" name="taskDescription" style="height: 200px;"
                      th:text="${taskForm.getTaskDescription()}" oninput="checkEmpty(this);isNoDuplicate();"/>
            <div class="mb-2" style="display: flex; width: 100%;">
                <input type="text" class="form-control" id="location" placeholder="Адрес проблемы"
                       name="taskLocation" th:value="${taskForm.getTaskLocation()}"
                       oninput="checkEmpty(this);isNoDuplicate();">
            </div>
            <div id="map" class="mb-3" style="height: 400px"></div>
            <div class="div-comment-allow mb-2">
                <label>Возможность комментирования:</label>
                <label onclick="isNoDuplicate()">
                    <input type="radio" id="on" name="commentAllow" value="true"
                           th:checked="${taskForm.getCommentAllow()}==true">
                    вкл |
                </label>
                <label onclick="isNoDuplicate()">
                    <input type="radio" id="off" name="commentAllow" value="false"
                           th:checked="${taskForm.getCommentAllow()}==false">
                    выкл
                </label>
            </div>
            <div class="div-input-images mb-4" style="display: table; width: 100%;">
                <span class="pr-4" style="display: table-cell; vertical-align: middle;
                width: 165px;">Фотографии (не более 3):</span>
                <div class="div-images" style="display: table-cell;">
                    <div class="div-image mr-2 mb-2" style="position: relative; display: inline-block;"
                         th:each="taskImage, iter : ${taskImages}" th:id="'div-task-img'+${iter.index}">
                        <img th:src="${taskImage}" class="task-preview-img any-img" onclick="showFullImg(this);">
                        <button type="button" class="del-img" title="Удалить" style="outline: none;"
                                th:onclick="'taskDivImgRemove(\'div-task-img'+ ${iter.index} +'\');'">
                            X
                        </button>
                    </div>
                    <input type="file" id="input-load-img" accept="image/jpeg,image/jpg,image/png,image/bmp"
                           style="display: none;" multiple onchange="processingImages(this)">
                    <img class="task-preview-img mb-2" src="/img/add-photo.jpg" title="Добавить фотографии"
                         onclick="loadImages();">
                </div>
            </div>
            <button id="btn-save" type="submit" class="btn btn-primary" style="display: block; margin: 0 auto;"
                    disabled>
                Сохранить
            </button>
        </form>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>
