<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>SIT|Вход</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="/css/password.css" rel="stylesheet">
    <link href="/css/validation.css" rel="stylesheet">
    <link href="/css/formData.css" rel="stylesheet">
    <script src="/js/urlTemplates.js"></script>
    <script src="/js/requests.js"></script>
    <script src=/js/password.js></script>
    <script src=/js/validation.js></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=5694d7f9-f8dc-4349-9d30-9dc5a908a417&lang=ru_RU"
            type="text/javascript">
    </script>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="form-data" style="width: 400px;margin: auto;">
    <h3 style="text-align: center;">Вход</h3>
    <form method="post" onsubmit="return isNoEmpty(this)">
        <span th:if="${errorEmail!=null}" style="color: red;" th:text="${errorEmail}"/>
        <input class="form-control mb-2" type="text" name="email" placeholder="Адрес электронной почты"
               style="width: 100%;" th:value="${email}" oninput="setValidFormat(this)">
        <span th:if="${errorPass!=null}" style="color: red;" th:text="${errorPass}"/>
        <div class="pas mb-2" style="width: 100%">
            <input class="form-control" type="password" id="pas-input" placeholder="Пароль" name="password"
                   th:value="${password}" oninput="setValidFormat(this)" style="padding-right: 35px;">
            <button type="button" class="pas-control" style="outline: none;"
                    onclick="showPas(this, 'pas-input')">
            </button>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" style="width: 30%">Войти</button>
            <a th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_USER_REGISTRATION}"
               th:href="@{${url}}" class="btn btn-success" style="width: 65%;float: right">
                Регистрация
            </a>
        </div>
    </form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

<script src="/js/mapForAllTasksLocation.js" type="text/javascript"></script>
</body>
</html>