<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <script src=js/loginAndRegistration.js></script>
    <meta charset="UTF-8">
    <title>PM|Вход</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/css/password.css" rel="stylesheet">
    <link href="/css/validation.css" rel="stylesheet">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container pt-4 pb-4 justify-content-md-center" style="width: 400px;">
    <h3 align="center">Вход</h3>
    <form method="post" onsubmit="return checkInputs()">
        <span style="color: red;" th:text="${errorEmail}"/>
        <input class="form-control mb-2" type="text" name="email" placeholder="Адрес электронной почты"
               style="width: 100%;" th:value="${email}" oninput="setValidFormat(this)">
        <span style="color: red;" th:text="${errorPass}"/>
        <div class="pas mb-2" style="width: 100%">
            <input class="form-control" type="password" id="pas-input" placeholder="Пароль" name="password"
                   th:value="${password}" oninput="setValidFormat(this)">
            <a href="#" class="pas-control"
               onclick="showPas(this, 'pas-input')">
            </a>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 30%">Войти</button>
        <a class="btn btn-outline-success" href="/registration" style="width: 65%;float: right">
            Регистрация
        </a>
    </form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>