<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>TF|Вход</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/css/password.css" rel="stylesheet">
    <link href="/css/validation.css" rel="stylesheet">
    <script src=/js/password.js></script>
    <script src=/js/validation.js></script>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container pt-4 pb-4 justify-content-md-center" style="width: 400px;">
    <h3 align="center">Вход</h3>
    <form method="post" onsubmit="return isNoEmpty(this)">
        <span th:if="${errorEmail!=null}" style="color: red;" th:text="${errorEmail}"/>
        <input class="form-control mb-2" type="text" name="email" placeholder="Адрес электронной почты"
               style="width: 100%;" th:value="${email}" oninput="setValidFormat(this)">
        <span th:if="${errorPass!=null}" style="color: red;" th:text="${errorPass}"/>
        <div class="pas mb-2" style="width: 100%">
            <input class="form-control" type="password" id="pas-input" placeholder="Пароль" name="password"
                   th:value="${password}" oninput="setValidFormat(this)">
            <button type="button" class="pas-control" style="outline: none;"
               onclick="showPas(this, 'pas-input')">
            </button>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 30%">Войти</button>
        <a class="btn btn-outline-success" href="/api/v1/user-management/user-registration"
           style="width: 65%;float: right">
            Регистрация
        </a>
    </form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>