<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <script src="/js/mainPage.js"></script>
    <title>TF|Главная</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body onresize="setWidth()">

<header th:insert="blocks/header :: header"></header>

<div id="mainCont" class="container mt-2" style="min-width: max-content">
    <div class="row">
        <ul id="sidebarMenu" class="nav flex-column bg-light" style="min-width: max-content">
            <li class="nav-item">
                <span style="font-size: larger">Фильтры</span>
            </li>
            <li class="nav-item">
                <a class="btn dropdown-toggle" data-toggle="collapse" href="#collapseStatus" role="button"
                   aria-expanded="false"
                   aria-controls="collapseStatus">
                    <span id="textStatus" style="font-size: larger">Статус</span>
                </a>
                <div class="collapse" id="collapseStatus">
                    <div class="card card-body" style="background: none;border: none">
                        <div class="my-3">
                            <div class="form-check" onclick="atLeastOneChecked()">
                                <input id="inProgress" name="status" type="checkbox" class="form-check-input"
                                       required="">
                                <label class="form-check-label" for="inProgress" style="font-size: large">В
                                    обработке</label>
                            </div>
                            <div class="form-check" onclick="atLeastOneChecked()">
                                <input id="solved" name="status" type="checkbox" class="form-check-input"
                                       required="">
                                <label class="form-check-label" for="solved"
                                       style="font-size: large">Решаемые</label>
                            </div>
                            <div class="form-check" onclick="atLeastOneChecked()">
                                <input id="resolved" name="status" type="checkbox" class="form-check-input"
                                       required="">
                                <label class="form-check-label" for="resolved"
                                       style="font-size: large">Решённые</label>
                            </div>
                            <div class="form-check" onclick="atLeastOneChecked()">
                                <input id="canceled" name="status" type="checkbox" class="form-check-input"
                                       required="">
                                <label class="form-check-label" for="canceled"
                                       style="font-size: large">Отменённые</label>
                            </div>
                            <br>
                            <div class="form-check">
                                <a id="btnReset" class="btn btn-primary" role="button" style="display: none"
                                   onclick="resetChecked()">
                                    <span style="font-size: large">Сбросить</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <br><br>
                <a class="btn btn-primary" role="button" href="#">
                    <span style="font-size: larger">Показать на карте</span>
                </a>
            </li>
        </ul>

        <table id="mainTable" style="margin-left: 10px; width: 82%;">
            <tbody>
            <tr>
                <td>
                    <input type="text" placeholder="Название проблемы" style="height: 100%; width: 100%">
                </td>
                <td width="16">
                    <button class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>