<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <script src="/js/mainPage.js"></script>
    <title>TF|Главная</title>
    <script src="/js/tasksList.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="/css/tasksList.css" rel="stylesheet">

    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css"/>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=5694d7f9-f8dc-4349-9d30-9dc5a908a417&lang=ru_RU"
            type="text/javascript">
    </script>

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
        font-family: Arial, Helvetica, sans-serif;
        color: black
    }

    .bootstrap-iso form button, .bootstrap-iso form button:hover {
        color: white !important;
    }

    .asteriskField {
        color: red;
    }</style>


</head>
<body>

<header th:insert="blocks/header :: header"></header>


<form th:id="formFilterConst"   hidden>
    <label>hiden form for parametors</label>
    <input id="ch0"
           name="checkbox"
           type="checkbox"
           th:value="0"
           th:checked="${checkbox0 != null} ? checked">
    <input id="ch1"
           name="checkbox"
           type="checkbox"
           th:value="1"
           th:checked="${checkbox1 != null} ? checked">
    <input id="ch2"
           name="checkbox"
           type="checkbox"
           th:value="2"
           th:checked="${checkbox2 != null} ? checked">
    <input id="ch3"
           name="checkbox"
           type="checkbox"
           th:value="3"
           th:checked="${checkbox3 != null} ? checked">
    <input id="ch4"
           name="checkbox"
           type="checkbox"
           th:value="4"
           th:checked="${checkbox4 != null} ? checked">
    <input id="ch5"
           name="checkbox"
           type="checkbox"
           th:value="5"
           th:checked="${checkbox5 != null} ? checked">
    <input id="ch6"
           name="checkbox"
           type="checkbox"
           th:value="6"
           th:checked="${checkbox6 != null} ? checked">
    <input id="ch7"
           name="checkbox"
           type="checkbox"
           th:value="7"
           th:checked="${checkbox7 != null} ? checked">
    <input id="ch8"
           name="checkbox"
           type="checkbox"
           th:value="8"
           th:checked="${checkbox8 != null} ? checked">
    <input id="ch9"
           name="checkbox"
           type="checkbox"
           th:value="9"
           th:checked="${checkbox9 != null} ? checked">

    <input th:id="da1" th:name="date" type="text"/>
    <input th:id="da2" th:name="date" type="text"/>

    <input th:id="inpAuthForm" th:name="inpAuthForm" type="text"/>
    <input th:id="inpRespForm" th:name="inpRespForm" type="text"/>

    <input type="radio" name="radioAP" th:id="radioAP">
    <input type="radio" name="radioMP" th:id="radioMP">
    <input type="radio" name="radioSP" th:id="radioSP">
    <input type="radio" name="radioMAP" th:id="radioMAP">

    <div sec:authorize="isAuthenticated()">
        <input th:name="userId" th:id="userId" th:value="${#authentication.getPrincipal().getId()}" type="text"/>
    </div>
</form>


<script type="text/javascript"  th:if="${param.myTasks == null && param.mySubs == null && param.myTasksStaff == null}">
    $(document).ready(function() {
        setPage(1);
    });
</script>

<script type="text/javascript"  th:if="${param.myTasks} ">
    $(document).ready(function() {
        getMyTaskList()
    });
</script>

<script type="text/javascript"  th:if="${param.mySubs} ">
    $(document).ready(function() {
       getMySubsList()
    });
</script>

<script type="text/javascript"  th:if="${param.myTasksStaff} ">
    $(document).ready(function() {
        getMyTasksStaff()
    });
</script>


<div class="tableMain">
    <div class="table-itemS2">
        <form id="filterForm" th:method="post" action="#" th:action="@{/api/v1/main-page/filter}">
            <ul id="sidebarMenu" class="nav flex-column bg-light" style="min-width: max-content">

                <div style=" min-width: 300px ">
                </div>

                <li class="nav-item">

                </li>
                <li class="nav-item">
                    <!--                    <a class="btn dropdown-toggle" data-toggle="collapse" href="#collapseStatus" role="button"-->
                    <!--                       aria-expanded="false"-->
                    <!--                       aria-controls="collapseStatus">-->
                    <!--                        -->
                    <!--                    </a>-->
                    <!--                    <span id="textStatus" style="font-size: larger "></span>-->

                    <div id="collapseStatus">
                        <div class="card card-body" style="background: none;border: none">
                            <a href="#exampleModalCenter" style="text-decoration:none;font-size: 24px;" data-toggle="modal" id="show-on-map">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red"
                                     class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                </svg>
                                Показать на карте
                                <!--                            <img id="show-on-map" src="/img/map.png" alt="Открыть карту" width="300px">-->
                            </a>
                            <hr>
                            <span style="font-size: larger;">Фильтры</span>
                            <hr>
                            <div>
                                <label>Статус</label>
                                <div class="form-check">
                                    <input name="checkbox"
                                           id="checkbox0"
                                           type="checkbox"
                                           class="form-check-input"
                                           th:value="0"
                                           th:checked="${checkbox0 != null} ? checked">

                                    <label class="form-check-label" for="checkbox0" style="font-size: large">В
                                        обработке</label>
                                </div>
                                <div class="form-check">
                                    <input name="checkbox"
                                           id="checkbox1"
                                           type="checkbox"
                                           class="form-check-input"
                                           th:value="1"
                                           th:checked="${checkbox1 != null} ? checked">

                                    <label class="form-check-label" for="checkbox1"
                                           style="font-size: large">Решаемые</label>
                                </div>
                                <div class="form-check">
                                    <input name="checkbox"
                                           id="checkbox2"
                                           type="checkbox"
                                           class="form-check-input"
                                           th:value="2"
                                           th:checked="${checkbox2 != null} ? checked">

                                    <label class="form-check-label" for="checkbox2"
                                           style="font-size: large">Решённые</label>
                                </div>
                                <div class="form-check">
                                    <input name="checkbox"
                                           id="checkbox3"
                                           type="checkbox"
                                           class="form-check-input"
                                           th:value="3"
                                           th:checked="${checkbox3 != null} ? checked">

                                    <label class="form-check-label" for="checkbox3"
                                           style="font-size: large">Отменённые</label>
                                </div>

                                <div class="form-check">
                                    <input name="checkbox"
                                           id="checkbox4"
                                           type="checkbox"
                                           class="form-check-input"
                                           th:value="4"
                                           th:checked="${checkbox4 != null} ? checked">

                                    <label class="form-check-label" for="checkbox4"
                                           style="font-size: large">Отмененные как дубликат</label>
                                </div>
                                <div class="form-check">
                                    <input name="checkbox"
                                           id="checkbox5"
                                           type="checkbox"
                                           class="form-check-input"
                                           th:value="5"
                                           th:checked="${checkbox5 != null} ? checked">

                                    <label class="form-check-label" for="checkbox5"
                                           style="font-size: large">Отклоненные</label>
                                </div>
                                <div class="form-check">
                                    <input name="checkbox"
                                           id="checkbox6"
                                           type="checkbox"
                                           class="form-check-input"
                                           th:value="6"
                                           th:checked="${checkbox6 != null} ? checked">

                                    <label class="form-check-label" for="checkbox6"
                                           style="font-size: large">Открытые</label>
                                </div>
                                <div class="form-check">
                                    <input name="checkbox"
                                           id="checkbox7"
                                           type="checkbox"
                                           class="form-check-input"
                                           th:value="7"
                                           th:checked="${checkbox7 != null} ? checked">

                                    <label class="form-check-label" for="checkbox7"
                                           style="font-size: large">Заблокированные</label>
                                </div>
                                <div class="form-check">
                                    <input name="checkbox"
                                           id="checkbox8"
                                           type="checkbox"
                                           class="form-check-input"
                                           th:value="8"
                                           th:checked="${checkbox8 != null} ? checked">

                                    <label class="form-check-label" for="checkbox8"
                                           style="font-size: large">Ожидают решения</label>
                                </div>
                                <div class="form-check">
                                    <input name="checkbox"
                                           id="checkbox9"
                                           type="checkbox"
                                           class="form-check-input"
                                           th:value="9"
                                           th:checked="${checkbox9 != null} ? checked">

                                    <label class="form-check-label" for="checkbox9"
                                           style="font-size: large">В процессе устранения</label>
                                </div>

                                <br>
                                <div class="form-group ">
                                    <label class="control-label" for="date1">
                                        Создан в период от
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="date1" name="date" placeholder="DD/MM/YYYY"
                                               type="text"/>
                                    </div>
                                </div>
                                <!--                                <label class="control-label" style="color: red" th:text="${betweenError}"></label>-->
                                <div class="form-group ">
                                    <label class="control-label " for="date2">
                                        до
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="date2" name="date" placeholder="DD/MM/YYYY"
                                               type="text"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="InputAuthor"> Автор</label>
                                    <input type="text" class="form-control" id="InputAuthor"
                                           placeholder="Имя Фамилия Отчество">
                                    <!--                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                                </div>

                                <div class="form-group">
                                    <label for="InputResponse">Ответственный</label>
                                    <input type="text" class="form-control" id="InputResponse"
                                           placeholder="Имя Фамилия Отчество">
                                    <!--                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                                </div>

                                <div class="form-check" th:hidden="${#authorization.expression('isAuthenticated()')} ?
               false :
                true ">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                           id="radioAllProblems" th:checked="${defaultRadio != null} ? checked">
                                    <label class="form-check-label" for="radioAllProblems">
                                        Все проблемы
                                    </label>
                                </div>

                                <div sec:authorize="isAuthenticated()">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                               id="radioMyProblems">
                                        <label class="form-check-label" for="radioMyProblems">
                                            Мои проблемы
                                        </label>
                                    </div>
                                    <div class="form-check" sec:authorize="hasAnyAuthority('Пользователь')">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                               id="radioSubscribeProblems">
                                        <label class="form-check-label" for="radioSubscribeProblems">
                                            Отслеживаемые проблемы
                                        </label>
                                    </div>

                                    <div class="form-check" sec:authorize="hasAnyAuthority('Соц. работник','Ответственный')">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                               id="radioMyProblemsForStaff">
                                        <label class="form-check-label" for="radioMyProblemsForStaff">
                                            Мои актуальные проблемы
                                        </label>
                                    </div>
                                </div>

                                <br>
                                <div class="form-check">
                                    <input class="btn btn-primary" type="button" style=" min-width: 200px "
                                           onclick="resetChecked()" th:value="Сбросить"/>
                                    <br>
                                    <br>
                                    <!--                                    <div sec:authorize="!isAuthenticated()">-->
                                    <!--                                        <input onclick=" setFilterParam(), setPage(1)" style=" min-width: 200px "-->
                                    <!--                                               id="submitFilter" type="button"-->
                                    <!--                                               class="btn btn-primary"-->
                                    <!--                                               th:value="Применить"/>-->
                                    <!--                                    </div>-->
                                    <div>
                                        <input onclick=" setFilterParamAuth(), setPage(1)" style=" min-width: 200px "
                                               id="submitFilterAuth" type="button"
                                               class="btn btn-primary"
                                               th:value="Применить"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <!--                    <br><br>-->

                </li>
            </ul>
        </form>
    </div>


    <div class="table-itemS">
        <div class="tableMain">
            <div class="table-item-rowS">

                <!--                <form th:id="findForm">-->
                <!--                    <input th:type="text" th:name="find" placeholder="Название проблемы" th:id="textFind"-->
                <!--                           style="width: 80%;"/>-->
                <!--                    <button class="btn btn-primary" th:type="button" onclick="findFormPost()">-->
                <!--                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
                <!--                             class="bi bi-search" viewBox="0 0 16 16">-->
                <!--                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>-->
                <!--                        </svg>-->
                <!--                    </button>-->
                <!--                </form>-->

            </div>
            <div class="table-item-rowS">
                <div class="table-itemS" th:id="taskListId">

                    <!--                     -->
                    <div class="table-itemS" th:id="listTaskId" xmlns:th="http://www.w3.org/1999/xhtml">

                        <table class="table  taskTableList">

                            <thead class="table-light">
                            <tr>
                                <th scope="col">Название</th>
                                <th scope="col"></th>
                                <th scope="col">Автор</th>
                                <th scope="col">Дата</th>
                                <th scope="col">Статус</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tbody>
                            <!--                            <tr th:each="task : ${taskList}" th:onclick="window.location='/order/list';" class="hoverClass">-->
                            <tr th:each="task : ${taskList}" class="hoverClass"
                                th:onclick="|window.location.href='task-management/task-get-by-id/${task.id}'|">

                                <td class="clip" colspan="2">
                                    <span th:text="${task.taskName}" th:title="${task.taskName}"></span>
                                </td>
                                <td class="clip">
                                    <div>
                                        <span><img th:src="${task.author.getUserImage()}"
                                                   style="width: 34px; height: 34px; display: inline-block;border-radius: 100%;"/></span>
                                        <span th:text="${task.author.firstname}"
                                              th:title="${task.author.firstname}"></span>
                                        <span th:text="${task.author.lastname}"
                                              th:title="${task.author.lastname}"></span>
                                    </div>
                                </td>
                                <td class="clip">
                                    <span th:text="${task.regDate}" th:title="${task.regDate}"></span>
                                </td>
                                <td class="clip">
                                    <span th:text="${task.status.getName}" th:title="${task.status.getName}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                        <div style="display:inline; margin: auto; width: 50%;" align="center">
                            <form style="display:inline;">
                            <span th:if="${setFirst}">
                        <button type="button" class="page-button" th:name="id" th:value="${setFirst}"
                                th:text="${setFirst}"
                                th:onclick="'setPage('+ ${setFirst} +')'"/>
                            <button type="button" class="page-button" th:name="id"
                                    th:value="${currentPage == null} ? ${1} : ${(currentPage)/2}"
                                    th:text="..."
                                    th:onclick="${currentPage == null} ? 'setPage('+ ${1} +') ' : 'setPage('+ ${(currentPage)/2} +') '"/>

                    </span>
                                <ui th:each="pageNumber : ${pageNumbers}">
                                    <button type="button"
                                            th:name="id"
                                            th:value="${pageNumber}"
                                            th:text="${pageNumber}"
                                            th:class="${pageNumber == currentPage} ?  'page-button-current' :  'page-button' "
                                            th:onclick="'setPage('+ ${pageNumber} +') '"/>
                                </ui>

                                <span th:if="${setLast}">
                <button type="button" th:class="page-button" th:name="id"
                        th:value="${currentPage == null} ? ${setLast} : ${(setLast+currentPage)/2}"
                        th:text="..."
                        th:onclick="${currentPage == null} ? 'setPage('+ ${setLast} +') ' :  'setPage('+ ${(setLast+currentPage)/2} +') ' "/>
                <button type="button" class="page-button" th:name="id"
                        th:value="${setLast}"
                        th:text="${setLast}"
                        th:onclick="'setPage('+ ${setLast} +') '"/>
            </span>
                            </form>
                        </div>
                    </div>
                    <!--                    -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="modal-dialog modal-xl" id="exampleModalCenter">...</div>-->
<!--<div class="tasks-map-window show">-->
<!--    <div id="div-dynamic-window" style="text-align: center;width: 600px; height: 400px">-->
<!--        <div id="mapForAllTasks" style="width: 100%; height: 400px"></div>-->
<!--    </div>-->
<!--</div>-->
<div class="modal fade" id="exampleModalCenter"role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog" style="max-width: 80%;" role="document">
    <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Задачи на карте</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="map-div">
                    <div id="mapForAllTasks" style="width: 100%; height: 700px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<form id="pageForm" hidden>
    <input th:id="page" th:type="text" th:name="page" th:value="1">
</form>
<br>
<!--<script th:inline="javascript">-->
<!--    var tasks = [[${taskList}]];//Make sure this is bills and not bill as you have done it.-->
<!--    console.log("task = " + tasks);-->
<!--</script>-->
<!--<script src="/js/mapForAllTasksLocation.js" type="text/javascript"></script>-->
<footer th:insert="blocks/footer :: footer"></footer>

<script>
    function setPage(val) {
        var page = document.getElementById("page");
        page.value = val;

        console.log("pageButtonClick")
        if (isEmpty()) {
            console.log("isEmpty")
            var str = $("#pageForm").serialize();
            $.ajax({
                method: 'post',
                dataType: 'html',
                data: str,
                success: function (data) {
                    $('#listTaskId').html(data);
                }
            });
        } else {
            console.log("is not Empty")
            var str = $("#formFilterConst, #pageForm").serialize();

            $.ajax({
                method: 'post',
                dataType: 'html',
                data: str,
                url: "/api/v1/main-page/filter",
                success: function (data) {
                    $('#listTaskId').html(data);
                }
            });
        }
    }

    function isEmpty() {
        let arr = new Array();
        arr.push(document.getElementById("ch0"));
        arr.push(document.getElementById("ch1"));
        arr.push(document.getElementById("ch2"));
        arr.push(document.getElementById("ch3"));
        arr.push(document.getElementById("ch4"));
        arr.push(document.getElementById("ch5"));
        arr.push(document.getElementById("ch6"));
        arr.push(document.getElementById("ch7"));
        arr.push(document.getElementById("ch8"));
        arr.push(document.getElementById("ch9"));

        let arrDate = new Array();
        arrDate.push(document.getElementById("da1"));
        arrDate.push(document.getElementById("da2"));


        var filterEmpty = true;

        var size = arr.length;
        for (var i = 0; i < size; ++i) {
            if (arr[i].checked == true) {
                filterEmpty = false;
                break;
            }
        }

        size = arrDate.length;
        console.log("size arrDate " + size);

        for (var i = 0; i < size; ++i) {
            console.log("filterEmpty arrDate " + i + " " + arrDate[i].value);
            if (arrDate[i].value != null) {
                if (arrDate[i].value.length > 0) {
                    filterEmpty = false;
                    break;
                }
            }
        }


        if (document.getElementById("inpAuthForm").value != "") {
            filterEmpty = false;
            console.log("  inpAuthForm empty = false; ");
        }

        if (document.getElementById("inpRespForm").value != "") {
            filterEmpty = false;
            console.log("  inpRespForm empty = false; ");
        }

        if (document.getElementById("radioAllProblems").checked == false)
            filterEmpty = false;

        return filterEmpty;
    }


    function pageButtonClick() {
        console.log("pageButtonClick")
        if (isEmpty()) {
            var str = $("#pageForm").serialize();
            $.ajax({
                method: 'post',
                dataType: 'html',
                data: str,
                success: function (data) {
                    $('#listTaskId').html(data);
                }
            });
        }
    }

    function findFormPost() {

        var textFind = document.getElementById("textFind")

        if (textFind.value != "") {
            var str = $("#findForm").serialize();

            $.ajax({
                method: 'post',
                dataType: 'html',
                data: str,
                url: "/api/v1/main-page/find",
                success: function (data) {
                    $('#listTaskId').html(data);
                }
            });
        } else {
            setPage(1);
        }
    }

    function getMyTaskList() {
        var userIdVal = document.getElementById("userId");
        console.log("getMyTaskList")
        $.ajax({
            method: 'get',
            dataType: 'html',
            data: {userId: userIdVal.value},
            url: "/api/v1/main-page/filterMyProblems",
            success: function (data) {
                $('#listTaskId').html(data);
            }
        });

        var radio = document.getElementById("radioMyProblems");
        if ( radio != undefined) radio.checked = true;
        radio = document.getElementById("radioMP");
        if ( radio != undefined) radio.checked = true;
    }

    function getMySubsList() {
        var userIdVal = document.getElementById("userId");
        console.log("getMyTaskList")
        $.ajax({
            method: 'get',
            dataType: 'html',
            data: {userId: userIdVal.value},
            url: "/api/v1/main-page/filterSubsProblems",
            success: function (data) {
                $('#listTaskId').html(data);
            }
        });

        var radio = document.getElementById("radioSubscribeProblems");
        if ( radio != undefined) radio.checked = true;
        radio = document.getElementById("radioSP");
        if ( radio != undefined) radio.checked = true;

    }

    function getMyTasksStaff() {
        var userIdVal = document.getElementById("userId");
        console.log("getMyTaskList")
        $.ajax({
            method: 'get',
            dataType: 'html',
            data: {userId: userIdVal.value},
            url: "/api/v1/main-page/filterMyProblemsStaff",
            success: function (data) {
                $('#listTaskId').html(data);
            }
        });

        var radio = document.getElementById("radioMyProblemsForStaff");
        if ( radio != undefined) radio.checked = true;
        radio = document.getElementById("radioMAP");
        if ( radio != undefined) radio.checked = true;
    }



    // $(document).ready(function () {
    //     $(".clickable-row").click(function () {
    //         window.location = $(this).data("href");
    //     });
    // });
    //
    // $("#container").on('click-row.bs.table', function (e, row, $element) {
    //     window.location = $element.data('href');
    // });

</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<script>
    $(document).ready(function () {
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'dd/mm/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>

</body>
</html>