<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>PM|Личный кабинет</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/password.css" rel="stylesheet">
    <link href="/css/validation.css" rel="stylesheet">
    <link href="/css/personalAccount.css" rel="stylesheet">
    <link href="/css/imgProfile.css" rel="stylesheet">
    <script src=js/personalAccount.js></script>
    <script src=js/password.js></script>
    <script src=js/validation.js></script>
</head>
<body onload="selectFirstPoint()">

<header th:insert="blocks/header :: header"></header>

<div class="container pt-4 pb-4" style="min-width: 960px;">
    <div style="display: inline-block;margin-right: 200px;vertical-align: top;">
        <nav class="nav flex-column" style="width: max-content;">
            <button id="btn-basic-data" type="button" class="btn btn-outline-primary mb-2"
                    style="width: 100%; border: none;text-align: start" onclick="selectPoint(this)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                     class="bi bi-card-text"
                     viewBox="0 1 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <span style="font-size: larger">Основные данные</span>
            </button>
            <button id="btn-pass" type="button" class="btn btn-outline-primary mb-2"
                    style="width: 100%; border: none;text-align: start" onclick="selectPoint(this)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-key"
                     viewBox="0 1 16 16">
                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                <span style="font-size: larger">Пароль</span>
            </button>
            <button id="btn-active-problems" type="button" class="btn btn-outline-primary"
                    style="width: 100%; border: none;text-align: start"
                    onclick="selectPoint(this)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-book"
                     viewBox="0 1 16 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg>
                <span style="font-size: larger">Проблемы</span>
            </button>
        </nav>
    </div>
    <div id="div-data" align="center" style="display: inline-block;">
        <form enctype="multipart/form-data" method="post" th:object="${userForm}" class="form-update"
              onsubmit="return isNoEmptyPersAcc()">
            <input type="text" name="id" th:value="${userForm.getId()}" style="display: none;">
            <input type="text" name="point" style="display: none;">
            <div id="div-data-basic" class="mb-4" style="width: 450px;">
                <h3>Основные данные</h3>
                <img id="img-display" src="/img/user-default.png" class="mb-4"
                     style="cursor:pointer;" onclick="openMenuLoadImg()"/>
                <input type="file" name="img" accept="image/jpeg,image/jpg,image/png" style="display: none;"
                       onchange="imgLoad(this)">
                <input type="text" class="form-control mb-2" placeholder="Фамилия" name="lastname"
                       style="width: 100%"
                       oninput="checkInvalidFormat(this,/^[A-z|А-я]+$/); isNoDuplicate();"
                       th:value="${userForm.getLastname()}">
                <input type="text" class="form-control mb-2" placeholder="Имя" name="firstname"
                       style="width: 100%"
                       oninput="checkInvalidFormat(this,/^[A-z|А-я]+$/); isNoDuplicate();"
                       th:value="${userForm.getFirstname()}">
                <input type="text" class="form-control mb-2" placeholder="Отчество" name="middlename"
                       style="width: 100%"
                       oninput="checkInvalidFormat(this,/^[A-z|А-я]+$/); isNoDuplicate();"
                       th:value="${userForm.getMiddlename()}">
                <span id="msg-err" style="color: red; float: left;" th:text="${errorEmail}"/>
                <span id="msg-info" style="color: forestgreen; float: left; display: none">
                    Необходима повторная аунтефикация
                </span>
                <input type="text" class="form-control mb-2" placeholder="Адрес электронной почты" name="email"
                       style="width: 100%"
                       oninput="checkInvalidFormat(this, /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/);
                       isNoDuplicate(); infoMsg();" th:value="${userForm.getEmail()}">
                <input type="text" class="form-control mb-4" placeholder="Номер телефона" name="phoneNumber"
                       style="width: 100%" oninput="checkInvalidFormat(this, /^(8|\+7)\d{10}$/); isNoDuplicate();"
                       th:value="${userForm.getPhoneNumber()}">
                <input type="text" class="old-form-control" th:value="${oldUser.getLastname()}">
                <input type="text" class="old-form-control" th:value="${oldUser.getFirstname()}">
                <input type="text" class="old-form-control" th:value="${oldUser.getMiddlename()}">
                <input type="text" class="old-form-control" name="oldEmail" th:value="${oldUser.getEmail()}">
                <input type="text" class="old-form-control" th:value="${oldUser.getPhoneNumber()}">
            </div>
            <div id="div-data-pass" class="mb-4" style="width: 450px;">
                <h3>Изменение пароля</h3>
                <div align="left"><span style="color: forestgreen;">Необходима повторная аунтефикация</span></div>
                <div class="pas mb-2" style="width: 100%">
                    <input type="password" class="form-control" id="pas-input" placeholder="Новый пароль"
                           name="password" oninput="checkPassFormat()">
                    <a href="#" class="pas-control" onclick="showPas(this, 'pas-input')"></a>
                </div>
                <div class="pas mb-4">
                    <input type="password" class="form-control" id="conf-pas-input"
                           placeholder="Повторите новый пароль"
                           name="passwordConfirm" oninput="checkPassConfirm(this)">
                    <a href="#" class="pas-control" onclick="showPas(this, 'conf-pas-input')"></a>
                </div>
            </div>
            <button type="submit" id="updateButton" class="btn btn-primary" disabled>
                Изменить
            </button>
        </form>
    </div>
    <div style="display: inline-block;width: 450px;">
        <div id="div-list-problems">
            <span>Проблемы</span>
        </div>
    </div>

</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>