<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>SIT|Профиль</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="/css/blockTitles.css" rel="stylesheet">
    <link href="/css/imgProfile.css" rel="stylesheet">
    <link href="/css/formData.css" rel="stylesheet">
    <script src="/js/urlTemplates.js"></script>
    <script src="/js/requests.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=5694d7f9-f8dc-4349-9d30-9dc5a908a417&lang=ru_RU"
            type="text/javascript">
    </script>
</head>

<body>

<header th:insert="blocks/header :: header"></header>

<div class="external-cont">
    <div class="form-data" style="width: 600px;text-align: center;">
        <div sec:authorize="!isAuthenticated()">
            <h2 th:text="${msgErr}"/>
        </div>
        <div sec:authorize="isAuthenticated()" class="internal-cont">
            <div th:if="${role.equals(role.RESPONSIBLE) || role.equals(role.DEPUTY)}"
                 class="mb-4" style="text-align: start; white-space: normal;">
                <h3 style="text-align: center;">
                    Профиль ответственного
                </h3>
                <div style="display: flex;">
                    <img th:src="${user.getUserImage()}" class="img-responsible-profile">
                    <ul class="nav flex-column ml-4">
                        <li class="nav-item mb-3">
                            <button class="btn dropdown-toggle font-weight-bold title-block"
                                    type="button" data-toggle="collapse"
                                    aria-expanded="true" data-target="#div-user-main-data"
                                    aria-controls="div-user-main-data" style="box-shadow: none;">
                                Основные данные
                            </button>
                            <div class="collapse show" id="div-user-main-data">
                                <div class="card card-body" style="background: none; border: none;">
                                    <span class="mb-2" style="display: block;" th:text="'ФИО: ' + ${user.getLastname() +
                                     ' ' + user.getFirstname() + ' ' + user.getMiddlename()}"/>
                                    <span class="mb-2" style="display: block;" th:text="'Должность: ' +
                                     ${user.appointment != null ?
                                        user.appointment : 'Не указана'}"/>
                                    <span class="mb-2" style="display: block;"
                                          th:text="'Дата регистрации: ' + ${user.dateToString(user.regDate) }"/>
                                    <span class="mb-2" style="display: block;" th:text="'Регион: ' + ${region}"/>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item mb-3">
                            <button class="btn dropdown-toggle font-weight-bold title-block"
                                    type="button" data-toggle="collapse"
                                    aria-expanded="true" data-target="#div-user-contact-data"
                                    aria-controls="div-user-contact-data" style="box-shadow: none;">
                                Контактные данные
                            </button>
                            <div class="collapse show" id="div-user-contact-data">
                                <div class="card card-body" style="background: none; border: none;">
                                    <span class="mb-2" style="display: block;" th:text="'Email: ' + ${user.email}"/>
                                    <span class="mb-2" style="display: block;" th:text="'Номер телефона: ' + ${user.phoneNumber}"/>
                                </div>
                            </div>
                        </li>
                        <li th:if="${user.municipality} != null" class="nav-item mb-3">
                            <button class="btn dropdown-toggle font-weight-bold title-block"
                                    type="button" data-toggle="collapse"
                                    aria-expanded="true" data-target="#div-municipality"
                                    aria-controls="div-municipality" style="box-shadow: none;">
                                Муниципалитет
                            </button>
                            <div class="collapse show" id="div-municipality">
                                <div class="card card-body" style="background: none; border: none;">
                                    <span class="mb-2" style="display: block;" th:text="'Название: ' +
                                     ${user.municipality.name}"/>
                                    <span class="mb-2" style="display: block;" th:if="${user.municipality.location != null}"
                                          th:text="'Адрес: ' +
                                     ${user.municipality.location}"/>
                                    <span class="mb-2" style="display: block;" th:if="${user.municipality.phoneNumber != null}"
                                          th:text="'Номер телефона: ' +
                                    ${user.municipality.phoneNumber}"/>
                                    <span class="mb-2" style="display: block;"
                                          th:if="${user.municipality.email != null}"
                                          th:text="'Email: ' + ${user.municipality.email}"/>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item mb-3">
                            <button class="btn dropdown-toggle font-weight-bold title-block"
                                    type="button" data-toggle="collapse"
                                    aria-expanded="true" data-target="#div-efficiency"
                                    aria-controls="div-efficiency" style="box-shadow: none;">
                                Эффективность работы
                            </button>
                            <div class="collapse show" id="div-efficiency">
                                <div class="card card-body" style="background: none; border: none;">
                                    <span class="mb-2" style="display: block;" th:text="'Решённых проблем: ' +
                                    ${user.getTasksCount()}"/>
                                    <a class="mb-2" th:href="@{/api/v1/main-page?otherUserTasks=true(userId=${user.getId})}">
                                        Проблемы пользователя
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div th:if="!(${role.equals(role.RESPONSIBLE) || role.equals(role.DEPUTY)})"
                 class="mb-4">
                <h3>
                    Профиль пользователя
                </h3>
                <img th:src="${user.getUserImage()}" class="mb-4 img-user-profile">
                <h4 class="mb-4" th:text="${user.getLastname() + ' ' + user.getFirstname() + ' ' +
                 user.getMiddlename()}"/>
                <p th:text="'Дата регистрации: '+${user.dateToString(user.getRegDate())}"/>
                <p th:if="${role.equals(role.ADMIN)} or ${isEmp} or ${isCurUser} or
                 ${#authentication.principal.role.equals(role.ADMIN)}"
                   th:text="'Электронная почта: '+${user.getEmail()}"/>
                <p th:if="${isEmp} or ${isCurUser} or ${#authentication.principal.role.equals(role.ADMIN)}"
                   th:text="'Номер телефона: '+${user.getPhoneNumber()}"/>
                <div th:if="${!role.equals(role.ADMIN)}" style="width: fit-content;margin: 0 auto;">
                    <div th:if="${role.equals(role.USER)}">
                        <p th:text="'Опубликованных проблем: '+${user.getTasksCount()}"/>
                    </div>
                    <div th:if="${!role.equals(role.USER)}">
                        <p th:text="'Регион: '+${region}"/>
                        <p th:text="'Решённых проблем: '+${user.getTasksCount()}"/>
                    </div>
                    <a th:href="@{/api/v1/main-page?otherUserTasks=true(userId=${user.getId})}"><p>Проблемы пользователя</p></a>

                </div>
            </div>
            <form th:if="${!role.equals(role.ADMIN) && #authentication.principal.role.equals(role.ADMIN)}"
                  class="mb-2" method="post">
                <button type="submit" name="btn" value="true" class="btn btn-outline-primary">Изменить</button>
                <button type="submit" name="btn" value="false" class="btn btn-outline-danger">Удалить</button>
            </form>
        </div>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

<script src="/js/mapForAllTasksLocation.js" type="text/javascript"></script>
</body>
</html>