<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>TF|Регистрация</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/password.css" rel="stylesheet">
    <link href="/css/validation.css" rel="stylesheet">
    <script src="/js/urlTemplates.js"></script>
    <script src="/js/requests.js"></script>
    <script src=/js/password.js></script>
    <script src=/js/validation.js></script>
    <script src="/js/rolesAndRegionsValidation.js"></script>
    <script src="/js/registrationThroughAdmin.js"></script>
</head>

<body onload="loadFormRegistrationThroughAdmin()">

<header th:insert="blocks/header :: header"></header>

<form id="form-reg" class="container pt-4 pb-4" method="post" th:object="${userForm}" style="width: 480px; text-align: center;">
    <h3>
        Регистрационная информация
    </h3>
    <input type="text" class="form-control input-ctrl mb-2" placeholder="Фамилия" name="lastname"
           style="width: 100%"
           oninput="checkInvalidFormat(this,/^[A-z|А-я]+$/)" th:value="${userForm.getLastname()}">
    <input type="text" class="form-control input-ctrl mb-2" placeholder="Имя" name="firstname"
           style="width: 100%"
           oninput="checkInvalidFormat(this,/^[A-z|А-я]+$/)" th:value="${userForm.getFirstname()}">
    <input type="text" class="form-control input-ctrl mb-2" placeholder="Отчество" name="middlename"
           style="width: 100%"
           oninput="checkInvalidFormat(this,/^[A-z|А-я]+$/)" th:value="${userForm.getMiddlename()}">
    <input type="text" class="form-control input-ctrl mb-2" placeholder="Адрес электронной почты" name="email"
           style="width: 100%"
           oninput="checkInvalidFormat(this, /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/)"
           th:value="${userForm.getEmail()}">
    <input type="text" class="form-control input-ctrl mb-2" placeholder="Номер телефона" name="phoneNumber"
           style="width: 100%" oninput="checkInvalidFormat(this, /^(8|\+7)\d{10}$/)"
           th:value="${userForm.getPhoneNumber()}">
    <select name="role.name" id="select-roles" class="form-control mb-2" onchange="roleChecked(this)">
        <option value="" disabled selected>Роль</option>
        <div th:each="role : ${roles}">
            <option th:value="${role.getName()}" th:text="${role.getName()}"/>
        </div>
    </select>
    <div class="pas mb-2" style="width: 100%">
        <input type="password" class="form-control input-ctrl" id="pas-input" placeholder="Пароль" name="password"
               oninput="checkPassFormat()"
               th:value="${userForm.getPassword()}">
        <button type="button" class="pas-control" style="outline: none;"
                onclick="showPas(this, 'pas-input')"></button>
    </div>
    <div class="pas mb-4">
        <input type="password" class="form-control input-ctrl" id="conf-pas-input" placeholder="Повторите пароль"
               name="passwordConfirm"
               oninput="checkPassConfirm(this)"
               th:value="${userForm.getPasswordConfirm()}">
        <button type="button" class="pas-control" style="outline: none;"
                onclick="showPas(this, 'conf-pas-input')"></button>
    </div>
    <button type="submit" id="registrationButton" class="btn btn-primary">
        Зарегистрировать
    </button>
</form>


<footer th:insert="blocks/footer :: footer"></footer>

</body>