<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>TF|Редакитрование проблемы ответственным</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="/css/jointStyles.css" rel="stylesheet">
    <link href="/css/validation.css" rel="stylesheet">
    <link href="/css/searchString.css" rel="stylesheet">
    <link href="/css/formData.css" rel="stylesheet">
    <script src=/js/validation.js></script>
    <script src=/js/jointFunctions.js></script>
    <script src="/js/responsibleEditTask.js"></script>
</head>
<body onload="setDefaultValue();setDivUserAtrWidth();">

<header th:insert="blocks/header :: header"></header>

<div class="container external-cont">
    <form class="form-data" th:object="${task}" method="post" onsubmit="return isValid()">
        <div class="mb-4">
            <h3 style="text-align: center">
                Редакитрование проблемы
            </h3>
            <input type="text" class="form-control mb-2" th:value="${task.getTaskName()}" readonly>
            <textarea class="form-control mb-2" th:text="${task.getTaskDescription()}" readonly style="height: 200px"/>
            <select name="status" class="form-control mb-2" onchange="isNoDuplicate()">
                <option value="" disabled>Статус</option>
                <option th:value="${task.getStatus()}" th:text="${task.getStatus().getName()}" selected/>
                <div th:each="status : ${statuses}">
                    <option th:value="${status}" th:text="${status.getName()}"/>
                </div>
            </select>
            <select name="priority" class="form-control" onchange="isNoDuplicate();setValidFormat(this)">
                <div th:if="${task.getPriority()} == null">
                    <option value="" disabled selected>Приоритет</option>
                </div>
                <div th:if="${task.getPriority()} != null">
                    <option value="" disabled>Приоритет</option>
                    <option th:value="${task.getPriority()}" th:text="${task.getPriority().getName()}" selected/>
                </div>
                <div th:each="priority : ${priorities}">
                    <option th:value="${priority}" th:text="${priority.getName()}"/>
                </div>
            </select>
        </div>
        <button class="btn dropdown-toggle font-weight-bold" type="button" data-toggle="collapse"
                aria-expanded="true" data-target="#div-employees" aria-controls="div-employees"
                style="box-shadow: none;">
            Назначение соц. работников
        </button>
        <div class="collapse show mb-4" id="div-employees" style="white-space: nowrap;">
            <div class="card card-body" style="background: none; border: none; ">
                <div>
                    <div class="search-string">
                        <input id="input-search-string" type="text" class="form-control"
                               placeholder="Введите критерий поиска" style="width: 100%; padding-right: 35px;"
                               oninput="filterSearchStringActiveExt(this)">
                        <button type="button" class="clear-search-string" style="outline: none;"
                                onclick="filterSearchStringInactiveExt()"></button>
                    </div>
                    <div class="mb-2">
                        <label style="font-size: 14px;"> Критерий поиска:</label>
                        <label class="ml-2" style="font-size: 14px;">
                            <input id="input-search-email" type="radio" name="searchCriterion" checked=""
                                   style="vertical-align: middle">
                            Email |
                        </label>
                        <label class="ml-2" style="font-size: 14px;">
                            <input id="input-search-names" type="radio" name="searchCriterion"
                                   style="vertical-align: middle">
                            ФИО
                        </label>
                    </div>
                </div>
                <div id="div-users" style="display: table">
                    <div class="pr-4" style="display: table-cell; width: 50%;">
                    <span id="span-designated-users" style="display: block;" class="font-weight-bold"
                          th:text="'Назначено соц. работников: ' + ${task.getSocialWorkers().size()} "/>
                        <hr>
                        <div id="div-designated-users" class="mb-4" style="overflow: auto;">
                            <div class="div-user pb-4" th:id="'div-user-data'+${iter.index}"
                                 th:each="socialWorker, iter : ${task.getSocialWorkers()}"
                                 style="display: table;width: 100%">
                                <input type="hidden" name="email" th:value="${socialWorker.getEmail()}">
                                <div style="display: table-cell;width: 38px;">
                                    <button type="button" class="btn btn-outline-danger" title="Снять"
                                            style="width: 100%"
                                            th:onclick="'dismissUser(\'div-user-data'+ ${iter.index} +'\'); isNoDuplicate();' +
                                'sortSocialWorkers(false);'">
                                        X
                                    </button>
                                </div>
                                <div style="display: table-cell">
                                    <a th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_USER_PROFILE}"
                                       th:href="@{${url}(id=${socialWorker.getId()})}" style="display: inline-block;"
                                       class="ml-3 mr-2">
                                        <img class="img-users-list" th:src="${socialWorker.getUserImage()}">
                                    </a>
                                    <div class="div-user-attr" style="display: inline-block;
                                        vertical-align: middle; max-width: 420px; overflow: hidden;">
                                        <span th:text="'ФИО: ' + ${socialWorker.getLastname() + ' '
                                            + socialWorker.getFirstname()+ ' '
                                            + socialWorker.getMiddlename()}" style="display: block;"/>
                                        <span th:text="'Email: ' + ${socialWorker.getEmail()}" style="display: block;"/>
                                        <span th:text="'Номер телефона: '+ ${socialWorker.getPhoneNumber()}"
                                              style="display: block;"/>
                                        <span th:text="'Дата регистрации: '+${socialWorker.dateToString(socialWorker.getRegDate())}"
                                              style="display: block;"/>
                                        <span th:text="'Решённых проблем: '+${socialWorker.getTasksCount()}"/>
                                        <span th:text="'Актуальных проблем: '+ ${socialWorker.calculateActiveTask()}"
                                              style="display: block;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: table-cell;">
                    <span id="span-unassigned-users" style="display: block;" class="font-weight-bold"
                          th:text="'Не назначено соц. работников: ' + ${socialWorkers.size()} "/>
                        <hr>
                        <div id="div-unassigned-users" style="overflow: auto;">
                            <div class="div-user pb-4"
                                 th:id="'div-user-data'+${task.getSocialWorkers().size() + iter.index}"
                                 th:each="socialWorker, iter : ${socialWorkers}" style="display: table;width: 100%">
                                <input type="hidden" th:value="${socialWorker.getEmail()}">
                                <div style="display: table-cell;width: 38px;">
                                    <button type="button" class="btn btn-outline-success" title="Назначить"
                                            style="width: 100%"
                                            th:onclick="'assignmentUser(\'div-user-data'+ ${task.getSocialWorkers().size() +
                                iter.index} +'\'); isNoDuplicate(); sortSocialWorkers(true);'">
                                        ✓
                                    </button>
                                </div>
                                <div style="display: table-cell">
                                    <a th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_USER_PROFILE}"
                                       th:href="@{${url}(id=${socialWorker.getId()})}" style="display: inline-block;"
                                       class="ml-3 mr-2">
                                        <img class="img-users-list" th:src="${socialWorker.getUserImage()}">
                                    </a>
                                    <div class="div-user-attr" style="display: inline-block;
                                        vertical-align: middle; max-width: 420px; overflow: hidden;">
                                        <span th:text="'ФИО: ' + ${socialWorker.getLastname() + ' '
                                            + socialWorker.getFirstname()+ ' '
                                            + socialWorker.getMiddlename()}" style="display: block;"/>
                                        <span th:text="'Email: ' + ${socialWorker.getEmail()}" style="display: block;"/>
                                        <span th:text="'Номер телефона: '+ ${socialWorker.getPhoneNumber()}"
                                              style="display: block;"/>
                                        <span th:text="'Дата регистрации: '+${socialWorker.dateToString(socialWorker.getRegDate())}"
                                              style="display: block;"/>
                                        <span th:text="'Решённых проблем: '+${socialWorker.getTasksCount()}"/>
                                        <span th:text="'Актуальных проблем: '+ ${socialWorker.calculateActiveTask()}"
                                              style="display: block;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <button id="btn-save" type="submit" class="btn btn-primary" disabled>
                Сохранить
            </button>
        </div>
    </form>
</div>
<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>