<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>TF|Просмотр проблемы</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/formData.css" rel="stylesheet">
    <link href="/css/task.css" rel="stylesheet">
    <script src="/js/urlTemplates.js"></script>
    <script src=/js/jointFunctions.js></script>
    <script src="/js/specificTask.js"></script>
</head>
<body onload="calledOnLoad();">
<header th:insert="blocks/header :: header"></header>
<div class="external-cont">
    <div class="form-data mb-4" style="width: 800px;">
        <input id="input-task-id" type="hidden" th:value="${task.getId()}">
        <h3 style="text-align: center;" th:text="${task.getTaskName()}"/>
        <div style="display: table; width: 100%">
            <div class="pr-3" style="display: table-cell">
                <span class="task-attr" th:text="${task.getTaskDescription()}"
                      style="max-height: 600px; overflow: auto; white-space: pre-wrap;"/>
            </div>
            <div style="display: table-cell; text-align: right; width: 35%;">
                <span class="task-attr mb-2" th:if="${task.getPriority()!=null}"
                      th:text="'Приоритет: '+${task.getPriority().getName()}"/>
                <span class="task-attr mb-2" th:if="${task.getPriority()==null}">Приоритет: Не назначен</span>
                <span class="task-attr mb-2" th:text="'Статус: '+${task.getStatus().getName()}"/>
                <span class="task-attr mb-2" th:text="'Регион: '+${task.getRegion().getRegionName()}"/>
                <span class="task-attr mb-2" th:text="'Адрес: '+${task.getTaskLocation()}"/>
                <label class="task-attr mb-2">
                    Автор:
                    <a th:text="' ' + ${task.getAuthor().getLastname() + ' ' + task.getAuthor().getFirstname()}"
                       th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_USER_PROFILE}"
                       th:href="@{${url}(id=${task.getAuthor().getId()})}"/>
                </label>
                <label class="task-attr mb-2">
                    Ответственный:
                    <a th:if="${task.getRegion().getResponsible()}!=null"
                       th:text="' ' + ${task.getRegion().getResponsible().getLastname() + ' ' +
               task.getRegion().getResponsible().getFirstname()}"
                       th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_USER_PROFILE}"
                       th:href="@{${url}(id=${task.getRegion().getResponsible().getId()})}"/>
                    <span th:if="${task.getRegion().getResponsible()}==null">У данного региона ответственный не назначен</span>
                </label>
                <span class="task-attr" th:text="'Создана: '+${task.getRegDate()}"/>
                <span th:if="${task.getStatus().getName()} == 'Решённые'" class="task-attr mt-2"
                      th:text="'Решена: '+${task.dateToString(task.getCompleteDate())}"/>
                <span th:if="${task.getStatus().getName()} == 'Отменённые'" class="task-attr mt-2"
                      th:text="'Отменена: '+${task.dateToString(task.getCompleteDate())}"/>
            </div>
        </div>
        <hr>
        <div id="div-images" class="mb-4" style="text-align: center;">
            <button type="button" class="btn btn-secondary" disabled onclick="previousImage();"><</button>
            <img th:if="${taskImages} != null" th:each="taskImage : ${taskImages}" th:src="${taskImage}"
                 style="display: none">
            <img th:if="${taskImages} == null" src="/img/default-problem.jpg" style="width: 640px;">
            <button type="button" class="btn btn-secondary" onclick="nextImage();">></button>
        </div>
        <div style="text-align: center">
            <div th:if="${isEditAuthor}!=null">
                <a th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_AUTHOR_PUT_TASK}"
                   th:href="@{${url}(id=${task.getId()})}" class="btn btn-primary">
                    Редактировать
                </a>
                <a href="#" class="btn btn-danger">Отменить</a>
            </div>
            <a th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_RESPONSIBLE_PUT_TASK}"
               th:href="@{${url}(id=${task.getId()})}" class="btn btn-primary" th:if="${isEditResponsible}!=null">
                Редактировать
            </a>
            <a href="#" class="btn btn-success" th:if="${isFeedback}!=null">Оставить отзыв</a>
        </div>
    </div>
    <div class="form-data" style="width: 800px; text-align: center;">
        <span class="task-attr" th:if="${task.commentAllow}==false">Комментарии отключены</span>
        <div th:if="${task.commentAllow}==true" id="div-comment-box">
            <h4 class="mb-3">Всего комментариев:</h4>
            <span class="task-attr mb-4" th:text="${commentForbidden}"/>
            <div class="comment mb-4" th:if="${commentPermission}!=null" style="text-align: start;">
                <img th:src="${#authentication.getPrincipal().getUserImage()}" class="comment-author-img">
                <div style="display: inline-block;margin-left: 10px;">
                    <span class="font-weight-bold" th:text="${#authentication.getPrincipal().getFirstname()}"/>
                    <textarea class="form-control" style="width: 675px;" id="textarea-comment-text"
                              placeholder="Оставьте комментарий"></textarea>
                </div>
                <hr>
                <div style="text-align: center">
                    <button type="button" class="btn btn-outline-success"
                            onclick="postComment();printComments();">
                        Оставить комментарий
                    </button>
                    <button type="button" class="btn btn-outline-danger" onclick="cancelCommentBtn()">Отмена</button>
                </div>
            </div>
            <div id="div-print-comments" style="overflow: auto;text-align: start;">
            </div>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>
