<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>TF|Просмотр проблемы</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="/css/formData.css" rel="stylesheet">
    <link href="/css/task.css" rel="stylesheet">
    <link href="/css/closeCustom.css" rel="stylesheet">
    <link href="/css/validation.css" rel="stylesheet">
    <script src="/js/urlTemplates.js"></script>
    <script src=/js/validation.js></script>
    <script src=/js/jointFunctions.js></script>
    <script src="/js/specificTask.js"></script>
</head>
<body onload="calledOnLoad();">
<header th:insert="blocks/header :: header"></header>
<div id="div-main-block" class="container external-cont">
    <div class="form-data mb-4">
        <input id="input-task-id" type="hidden" th:value="${task.getId()}">
        <div id="div-feedback" th:if="${task.getFeedback()}!=null">
            <input type="hidden" th:value="${task.getFeedback().getFeedback()}">
            <input type="hidden" th:value="${task.getFeedback().getPublishDate()}">
        </div>
        <div id="div-author" th:if="${task.getAuthor()}!=null" style="display: none;">
            <input type="hidden" th:value="${task.getAuthor().getUserImage()}">
            <input type="hidden" th:value="${task.getAuthor().getFirstname()}">
        </div>
        <h3 style="text-align: center;" th:text="${task.getTaskName()}"/>
        <div class="mb-4" style="display: table; width: 100%">
            <ul class="nav flex-column pr-3" style="display: table-cell">
                <li class="nav-item mb-3">
                    <button class="btn dropdown-toggle font-weight-bold" type="button" data-toggle="collapse"
                            aria-expanded="true" data-target="#div-description" aria-controls="div-description"
                            style="box-shadow: none;">
                        Описание
                    </button>
                    <div class="collapse show" id="div-description">
                        <div class="card card-body" style="background: none; border: none;">
                               <span class="mb-4 task-attr" th:text="${task.getTaskDescription()}"
                                     style="max-height: 600px; overflow: auto; white-space: pre-wrap;"/>
                        </div>
                    </div>
                </li>
                <li th:if="${taskImages} != null" class="nav-item">
                    <button class="btn dropdown-toggle font-weight-bold" type="button" data-toggle="collapse"
                            aria-expanded="true" data-target="#div-images" aria-controls="div-images"
                            style="box-shadow: none;">
                        Изображения
                    </button>
                    <div class="collapse show" id="div-images">
                        <div class="card card-body" style="background: none; border: none; flex-direction: row;">
                            <img class="task-preview-img mr-2" th:each="taskImage : ${taskImages}"
                                 th:src="${taskImage}" onclick="showFullImg(this)">
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="nav flex-column pr-3" style="display: table-cell; width: 35%;">
                <li class="nav-item mb-3">
                    <button class="btn dropdown-toggle font-weight-bold" type="button" data-toggle="collapse"
                            aria-expanded="true" data-target="#div-details" aria-controls="div-details"
                            style="box-shadow: none;">
                        Детали
                    </button>
                    <div class="collapse show" id="div-details">
                        <div class="card card-body" style="background: none; border: none;">
                            <span class="task-attr mb-2" th:if="${task.getPriority()!=null}"
                                  th:text="'Приоритет: '+${task.getPriority().getName()}"/>
                            <span class="task-attr mb-2"
                                  th:if="${task.getPriority()==null}">Приоритет: Не назначен</span>
                            <span class="task-attr mb-2" th:text="'Статус: '+${task.getStatus().getName()}"/>
                        </div>
                    </div>
                </li>
                <li class="nav-item mb-3">
                    <button class="btn dropdown-toggle font-weight-bold" type="button" data-toggle="collapse"
                            aria-expanded="true" data-target="#div-location" aria-controls="div-location"
                            style="box-shadow: none;">
                        Местоположение
                    </button>
                    <div class="collapse show" id="div-location">
                        <div class="card card-body" style="background: none; border: none; ">
                            <span class="task-attr mb-2" th:text="'Регион: '+${task.getRegion().getRegionName()}"/>
                            <span class="task-attr mb-2" th:text="'Адрес: '+${task.getTaskLocation()}"/>
                        </div>
                    </div>
                </li>
                <li class="nav-item mb-3">
                    <button class="btn dropdown-toggle font-weight-bold" type="button" data-toggle="collapse"
                            aria-expanded="true" data-target="#div-people" aria-controls="div-people"
                            style="box-shadow: none;">
                        Люди
                    </button>
                    <div class="collapse show" id="div-people">
                        <div class="card card-body" style="background: none; border: none; ">
                            <label class="task-attr mb-2">
                                Автор:
                                <a th:if="${task.getAuthor()}!=null"
                                   th:text="${task.getAuthor().getLastname() + ' ' + task.getAuthor().getFirstname()}"
                                   th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_USER_PROFILE}"
                                   th:href="@{${url}(id=${task.getAuthor().getId()})}"/>
                                <span th:if="${task.getAuthor()}==null">Аккаунт был удалён</span>
                            </label>
                            <label class="task-attr mb-2">
                                Ответственный:
                                <a th:if="${task.getRegion().getResponsible()}!=null"
                                   th:text="${task.getRegion().getResponsible().getLastname() + ' ' +
                                    task.getRegion().getResponsible().getFirstname()}"
                                   th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_USER_PROFILE}"
                                   th:href="@{${url}(id=${task.getRegion().getResponsible().getId()})}"/>
                                <span th:if="${task.getRegion().getResponsible()}==null">
                                    У данного региона ответственный не назначен
                                </span>
                            </label>
                        </div>
                    </div>
                </li>
                <li class="nav-item mb-3">
                    <button class="btn dropdown-toggle font-weight-bold" type="button" data-toggle="collapse"
                            aria-expanded="true" data-target="#div-date" aria-controls="div-date"
                            style="box-shadow: none;">
                        Даты:
                    </button>
                    <div class="collapse show" id="div-date">
                        <div class="card card-body" style="background: none; border: none; ">
                            <span class="task-attr" th:text="'Создана: '+${task.getRegDate()}"/>
                            <span th:if="${task.getStatus().getName()} == 'Решённые'" class="task-attr mt-2"
                                  th:text="'Решена: '+${task.dateToString(task.getCompleteDate())}"/>
                            <span th:if="${task.getStatus().getName()} == 'Отменённые'" class="task-attr mt-2"
                                  th:text="'Отменена: '+${task.dateToString(task.getCompleteDate())}"/>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div style="text-align: center">
            <div th:if="${isEditAuthor}!=null">
                <a th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_AUTHOR_PUT_TASK}"
                   th:href="@{${url}(id=${task.getId()})}" class="btn btn-primary">
                    Редактировать
                </a>
                <button type="button" id="btn-cancel-task" class="btn btn-danger"
                        onclick="showFeedbackWindow(this, 'Отмена проблемы')">
                    Отменить
                </button>
            </div>
            <a th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_RESPONSIBLE_PUT_TASK}"
               th:href="@{${url}(id=${task.getId()})}" class="btn btn-primary" th:if="${isEditResponsible}!=null">
                Редактировать
            </a>
            <button type="button" id="btn-save-feedback" class="btn btn-success"
                    onclick="showFeedbackWindow(this, 'Добавление отзыва')"
                    th:if="${isFeedback} != null and ${task.getFeedback()} == null">
                Оставить отзыв
            </button>
            <div th:if="${task.getFeedback()} != null">
                <button type="button" id="btn-show-feedback" class="btn btn-success"
                        onclick="showFeedbackWindow(this, 'Отзыв автора проблемы')"
                        th:if="${task.getStatus().getValue()} == 2">
                    Посмотреть отзыв
                </button>
                <button type="button" id="btn-cancellation-reason" class="btn btn-success"
                        onclick="showFeedbackWindow(this, 'Причина отмены проблемы')"
                        th:if="${task.getStatus().getValue()} == 3">
                    Посмотреть причину отмены
                </button>
            </div>
        </div>
    </div>
    <div class="form-data" style="text-align: center;">
        <span class="task-attr" th:if="${task.commentAllow}==false">Комментарии отключены</span>
        <div th:if="${task.commentAllow}==true" id="div-comment-box">
            <h4 class="mb-3">Всего комментариев:</h4>
            <span th:if="${commentForbidden}!=null" class="task-attr mb-4" th:text="${commentForbidden}"/>
            <div class="comment mb-4" th:if="${commentPermission}!=null">
                <img th:src="${#authentication.getPrincipal().getUserImage()}" class="comment-author-img">
                <div class="mb-4" style="display: inline-block;margin-left: 10px;text-align: start;">
                    <span class="font-weight-bold" th:text="${#authentication.getPrincipal().getFirstname()}"/>
                    <textarea class="form-control" style="width: 675px; min-height: 70px;" id="textarea-comment-text"
                              placeholder="Оставьте комментарий"></textarea>
                </div>
                <div style="text-align: center">
                    <button type="button" class="btn btn-outline-success"
                            onclick="postComment();printComments();">
                        Оставить комментарий
                    </button>
                    <button type="button" class="btn btn-outline-danger" onclick="cancelCommentBtn()">Отмена</button>
                </div>
                <hr>
            </div>
            <div id="div-print-comments" style="overflow: auto;">
            </div>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>
