<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>TF|Просмотр проблемы</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="/css/formData.css" rel="stylesheet">
    <link href="/css/task.css" rel="stylesheet">
    <link href="/css/closeCustom.css" rel="stylesheet">
    <link href="/css/validation.css" rel="stylesheet">
    <script src="/js/urlTemplates.js"></script>
    <script src=/js/validation.js></script>
    <script src=/js/jointFunctions.js></script>
    <script src="/js/specificTask.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=5694d7f9-f8dc-4349-9d30-9dc5a908a417&lang=ru_RU"
            type="text/javascript">
    </script>

</head>
<body onload="calledOnLoad();">
<header th:insert="blocks/header :: header"></header>
<div id="div-main-block" class="container external-cont">
    <div class="form-data mb-4">
        <input id="input-task-id" type="hidden" th:value="${task.getId()}">
        <div id="div-feedback" th:if="${task.getFeedback()}!=null">
            <input type="hidden" th:value="${task.getFeedback().getFeedback()}">
            <input type="hidden" th:value="${task.getFeedback().getPublishDate()}">
        </div>
        <div id="div-author" th:if="${task.getAuthor()}!=null" style="display: none;">
            <input type="hidden" th:value="${task.getAuthor().getUserImage()}">
            <input type="hidden" th:value="${task.getAuthor().getFirstname()}">
        </div>
        <h3 class="font-weight-bold" th:text="${task.getTaskName()}"/>
        <div class="mb-4" style="display: table; width: 100%">
            <ul class="nav flex-column pr-3" style="display: table-cell">
                <li class="nav-item mb-3">
                    <button class="btn dropdown-toggle font-weight-bold" type="button" data-toggle="collapse"
                            aria-expanded="true" data-target="#div-description" aria-controls="div-description"
                            style="box-shadow: none;">
                        Описание
                    </button>
                    <div class="collapse show" id="div-description">
                        <div class="card card-body" style="background: none; border: none;">
                               <span class="mb-4 task-attr" th:text="${task.getTaskDescription()}"
                                     style="max-height: 600px; overflow: auto; white-space: pre-wrap;"/>
                        </div>
                    </div>
                </li>
                <li th:if="${taskImages} != null" class="nav-item mb-3">
                    <button class="btn dropdown-toggle font-weight-bold" type="button" data-toggle="collapse"
                            aria-expanded="true" data-target="#div-images" aria-controls="div-images"
                            style="box-shadow: none;">
                        Изображения
                    </button>
                    <div class="collapse show" id="div-images">
                        <div class="card card-body" style="background: none; border: none; flex-direction: row;">
                            <img class="task-preview-img mr-2" th:each="taskImage : ${taskImages}"
                                 th:src="${taskImage}" onclick="showFullImg(this)">
                        </div>
                    </div>
                </li>
                <li class="nav-item mb-3">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-comment-tab" data-toggle="tab" href="#div-comment-box" role="tab" aria-controls="div-comment-box" aria-selected="true">Комментарии</a>
                            <a class="nav-item nav-link" id="nav-history-tab" data-toggle="tab" href="#history-box" role="tab" aria-controls="history-box" aria-selected="false">История</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="div-comment-box" role="tabpanel" aria-labelledby="nav-comment-tab">
                            <span class="task-attr mb-3">Всего комментариев:</span>
                            <span th:if="${commentForbidden}!=null" class="task-attr"
                                  th:text="${commentForbidden}"/>
                            <div class="comment" th:if="${commentPermission}!=null">
                                <div class="mb-4" style="display: table; width: 100%;">
                                    <div style="display: table-cell; width: 40px;">
                                        <img th:src="${#authentication.getPrincipal().getUserImage()}"
                                             class="comment-author-img">
                                    </div>
                                    <div class="pl-2" style="display: table-cell;">
                                            <span class="font-weight-bold"
                                                  th:text="${#authentication.getPrincipal().getFirstname()}"/>
                                        <textarea class="form-control" style="min-height: 70px;"
                                                  id="textarea-comment-text"
                                                  placeholder="Оставьте комментарий"
                                                  oninput="isCommentValid(this);"></textarea>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-outline-success" disabled
                                            onclick="postComment();printComments();">
                                        Оставить комментарий
                                    </button>
                                    <button type="button" class="btn btn-outline-danger" disabled
                                            onclick="cancelCommentBtn()">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <div id="div-print-comments" style="overflow: auto;">
                            </div>
                        </div>
                        <div class="tab-pane fade show " id="history-box" role="tabpanel" aria-labelledby="nav-history-tab">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col" style="max-width: 300px;overflow: hidden">Предыдущий ответственный</th>
                                        <th scope="col" style="max-width: 300px;overflow: hidden">Текущий ответственный</th>
                                        <th scope="col" style="max-width: 163px;">Дата переназначения</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="history : ${histories}" >
                                        <td style="max-width: 300px;overflow: hidden">
                                            <a th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_USER_PROFILE}"
                                               th:href="@{${url}(id=${history.previousResponsible.id})}"
                                               th:text="${history.previousResponsible.lastname + ' ' + history.previousResponsible.firstname}"/></td>
                                        <td style="max-width: 300px;overflow: hidden">
                                            <a th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_USER_PROFILE}"
                                               th:href="@{${url}(id=${history.currentResponsible.id})}"
                                               th:text="${history.currentResponsible.lastname + ' ' + history.currentResponsible.firstname}"/>
                                        </td>
                                        <td th:text="${history.dateToString(history.changedDate)}" style="max-width: 163px;"/>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="nav flex-column pr-3" style="display: table-cell; width: 35%;">
                <li th:if="${isEditAuthor}!=null or ${isEditResponsible}!=null or ${isFeedback} != null and
                 ${task.getFeedback()} == null or ${task.getFeedback()} != null or ${isSubscription} != null"
                    class="nav-item mb-3">
                    <button class="btn dropdown-toggle font-weight-bold" type="button" data-toggle="collapse"
                            aria-expanded="true" data-target="#div-actions" aria-controls="div-actions"
                            style="box-shadow: none;">
                        Действия
                    </button>
                    <div class="collapse show" id="div-actions">
                        <div class="card card-body" style="background: none; border: none;">
                            <div>
                                <div th:if="${isEditAuthor}!=null" style="display: inline-block;">
                                    <a th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_AUTHOR_PUT_TASK}"
                                       th:href="@{${url}(id=${task.getId()})}" class="btn btn-primary">
                                        Редактировать
                                    </a>
                                    <button type="button" id="btn-cancel-task" class="btn btn-danger"
                                            onclick="showFeedbackWindow(this, 'Отмена проблемы')">
                                        Отменить
                                    </button>
                                </div>
                                <a th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_RESPONSIBLE_PUT_TASK}"
                                   th:href="@{${url}(id=${task.getId()})}" class="btn btn-primary"
                                   th:if="${isEditResponsible}!=null">
                                    Редактировать
                                </a>
                                <button type="button" id="btn-save-feedback" class="btn btn-success"
                                        onclick="showFeedbackWindow(this, 'Добавление отзыва')"
                                        th:if="${isFeedback} != null and ${task.getFeedback()} == null">
                                    Оставить отзыв
                                </button>
                                <div th:if="${task.getFeedback()} != null" style="display: inline-block;">
                                    <button type="button" id="btn-show-feedback" class="btn btn-success"
                                            onclick="showFeedbackWindow(this, 'Отзыв автора проблемы')"
                                            th:if="${task.getStatus().getValue()} == 2">
                                        Отзыв
                                    </button>
                                    <button type="button" id="btn-cancellation-reason" class="btn btn-success"
                                            onclick="showFeedbackWindow(this, 'Причина отмены проблемы')"
                                            th:if="${task.getStatus().getValue()} == 3">
                                        Причина отмены
                                    </button>
                                </div>
                                <div th:if="${isSubscription} != null" style="display: inline-block;">
                                    <button id="btn-subscription"></button>
                                    <input id="input-cur-user-id" type="hidden"
                                           th:value="${#authentication.getPrincipal().getId()}">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item mb-3">
                    <button class="btn dropdown-toggle font-weight-bold" type="button" data-toggle="collapse"
                            aria-expanded="true" data-target="#div-details" aria-controls="div-details"
                            style="box-shadow: none;">
                        Детали
                    </button>
                    <div class="collapse show" id="div-details">
                        <div class="card card-body" style="background: none; border: none;">
                            <span class="task-attr mb-2" th:if="${task.getPriority()!=null}"
                                  th:text="'Приоритет: '+${task.getPriority().getName()}"/>
                            <span class="task-attr mb-2"
                                  th:if="${task.getPriority()==null}">Приоритет: Не назначен</span>
                            <span id="span-status" class="task-attr mb-2"
                                  th:text="'Статус: '+${task.getStatus().getName()}"/>
                        </div>
                    </div>
                </li>
                <li class="nav-item mb-3">
                    <button class="btn dropdown-toggle font-weight-bold" type="button" data-toggle="collapse"
                            aria-expanded="true" data-target="#div-location" aria-controls="div-location"
                            style="box-shadow: none;">
                        Местоположение
                    </button>
                    <div class="collapse show" id="div-location">
                        <div class="card card-body" style="background: none; border: none; ">
                            <span class="task-attr mb-2" th:text="'Регион: '+${task.getRegion().getRegionName()}"/>
                            <span class="task-attr mb-2">Адрес:
                                <a href="#exampleModalCenter" data-toggle="modal" id="location"
                                   th:text="${task.getTaskLocation()}"/>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="nav-item mb-3">
                    <button class="btn dropdown-toggle font-weight-bold" type="button" data-toggle="collapse"
                            aria-expanded="true" data-target="#div-people" aria-controls="div-people"
                            style="box-shadow: none;">
                        Люди
                    </button>
                    <div class="collapse show" id="div-people">
                        <div class="card card-body" style="background: none; border: none; ">
                            <label class="task-attr mb-2">
                                Автор:
                                <a th:if="${task.getAuthor()}!=null"
                                   th:text="${task.getAuthor().getLastname() + ' ' + task.getAuthor().getFirstname()}"
                                   th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_USER_PROFILE}"
                                   th:href="@{${url}(id=${task.getAuthor().getId()})}"/>
                                <span th:if="${task.getAuthor()}==null">Аккаунт был удалён</span>
                            </label>
                            <label class="task-attr mb-2">
                                Ответственный:
                                <a th:if="${task.getCurrResponsible()}!=null"
                                   th:text="${task.getCurrResponsible().getLastname() + ' ' +
                                    task.getCurrResponsible().getFirstname()}"
                                   th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_USER_PROFILE}"
                                   th:href="@{${url}(id=${task.getCurrResponsible().getId()})}"/>
                                <span th:if="${task.getCurrResponsible()}==null">
                                    У данной задачи ответственный не назначен
                                </span>
                                <form th:if="${isEditResponsible}!=null and ${!responsibleList.isEmpty()}" class="dropdown" style="display: inline-block;" method="post">
                                    (<a class="btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Изменить
                                    </a>)
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <button type="submit" name="changedResponsible"  class="dropdown-item" th:each="responsible : ${responsibleList}"
                                                th:text="${responsible.getLastname() + ' ' +  responsible.getFirstname() + ' ' + responsible.getMiddlename()}"
                                                th:value="${responsible.getId()}"/>
                                    </div>
                                </form>
                            </label>
                        </div>
                    </div>
                </li>
                <li class="nav-item mb-3">
                    <button class="btn dropdown-toggle font-weight-bold" type="button" data-toggle="collapse"
                            aria-expanded="true" data-target="#div-date" aria-controls="div-date"
                            style="box-shadow: none;">
                        Даты:
                    </button>
                    <div class="collapse show" id="div-date">
                        <div class="card card-body" style="background: none; border: none; ">
                            <span class="task-attr" th:text="'Создана: '+${task.getRegDate()}"/>
                            <span th:if="${task.getStatus().getName()} == 'Решённые'" class="task-attr mt-2"
                                  th:text="'Решена: '+${task.dateToString(task.getCompleteDate())}"/>
                            <span th:if="${task.getStatus().getName()} == 'Отменённые'" class="task-attr mt-2"
                                  th:text="'Отменена: '+${task.dateToString(task.getCompleteDate())}"/>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg bd-example-modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" th:text="${task.taskName}"/>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="map-div">
                    <div id="map" style="width: 100%; height: 400px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
<script src="/js/taskAddress.js"></script>
</body>
</html>
