<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>TF|Создание проблемы</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/validation.css" rel="stylesheet">
    <link href="/css/formData.css" rel="stylesheet">
    <link href="/css/task.css" rel="stylesheet">
    <link href="/css/closeCustom.css" rel="stylesheet">
    <script src=/js/validation.js></script>
    <script src=/js/jointFunctions.js></script>
    <script src=/js/task.js></script>
</head>
<body onload="loadTask()">
<header th:insert="blocks/header :: header"></header>
<div id="div-main-block" class="external-cont">
    <div class="form-data" style="width: 800px; text-align: center; font-size: 20px">
        <h3>
            Создание проблемы
        </h3>
        <form id="form-task" method="post" th:object="${taskForm}">
            <input type="text" class="form-control mb-3" placeholder="Название" name="taskName"
                   oninput="checkEmpty(this)">
            <textarea class="form-control mb-3" placeholder="Описание" name="taskDescription"
                      style="height: 200px;" oninput="checkEmpty(this)"></textarea>
            <input type="text" class="form-control mb-3" placeholder="Адрес проблемы" name="taskLocation"
                   oninput="checkEmpty(this)">
            <div class="div-comment-allow mb-2">
                <label>Возможность комментирования:</label>
                <label>
                    <input type="radio" id="on" name="commentAllow" value="true">
                    вкл |
                </label>
                <label>
                    <input type="radio" id="off" name="commentAllow" value="false">
                    выкл
                </label>
            </div>
            <div class="div-input-images mb-4" style="display: table; width: 100%;">
                <span class="pr-4" style="display: table-cell; vertical-align: middle;
                width: 165px;">Фотографии (не более 3):</span>
                <div class="div-images" style="display: table-cell;text-align: start;">
                    <input type="file" id="input-load-img" accept="image/jpeg,image/jpg,image/png,image/bmp"
                           style="display: none;" multiple onchange="processingImages(this)">
                    <img class="task-preview-img mb-2" src="/img/add-photo.jpg" title="Добавить фотографии"
                         onclick="loadImages();">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">
                Создать
            </button>
        </form>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>
