<div class="table-itemS" th:id="listTaskId" xmlns:th="http://www.w3.org/1999/xhtml">

    <h3 th:text="${infMessage}"></h3>

    <table class="table  taskTableList">
        <thead class="table-light">
        <tr>
            <th scope="col">Название</th>
            <th scope="col"></th>
            <th scope="col">Автор</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>

        <tbody>
        <tr th:each="task : ${taskList}" th:onclick="|window.location.href='task-management/task-get-by-id/${task.id}'|"
            class="hoverClass">

            <td class="clip" colspan="2">
                <span th:text="${task.taskName}" th:title="${task.taskName}"></span>
            </td>
            <td class="clip">
                <div th:if="${task.author != null}">
                    <span><img th:src="${task.author.getUserImage()}"
                               style="width: 34px; height: 34px; display: inline-block;border-radius: 100%;"/></span>
                    <span th:text="${task.author.firstname}" th:title="${task.author.firstname}"></span>
                    <span th:text="${task.author.lastname}" th:title="${task.author.lastname}"></span>
                </div>
                <div th:unless="${task.author != null}">
                    <span>Аккаунт удален</span>
                </div>
            </td>
            <td class="clip">
                <span th:text="${task.regDate}" th:title="${task.regDate}"></span>
            </td>
            <td class="clip">
                <span th:text="${task.status.getName}" th:title="${task.status.getName}"></span>
            </td>
        </tr>
        </tbody>
    </table>


    <div style="display:inline; margin: auto; width: 50%;" align="center">
        <form style="display:inline;">
                            <span th:if="${setFirst}">
                        <button type="button" class="page-button" th:name="id" th:value="${setFirst}"
                                th:text="${setFirst}"
                                th:onclick="'setPage('+ ${setFirst} +')'"/>
                            <button type="button" class="page-button" th:name="id"
                                    th:value="${currentPage == null} ? ${1} : ${(currentPage)/2}"
                                    th:text="..."
                                    th:onclick="${currentPage == null} ? 'setPage('+ ${1} +') ' : 'setPage('+ ${(currentPage)/2} +') '"/>

                    </span>
            <ui th:each="pageNumber : ${pageNumbers}">
                <button type="button"
                        th:name="id"
                        th:value="${pageNumber}"
                        th:text="${pageNumber}"
                        th:class="${pageNumber == currentPage} ?  'page-button-current' :  'page-button' "
                        th:onclick="'setPage('+ ${pageNumber} +') '"/>
            </ui>

            <span th:if="${setLast}">
                <button type="button" th:class="page-button" th:name="id"
                        th:value="${currentPage == null} ? ${setLast} : ${(setLast+currentPage)/2}"
                        th:text="..."
                        th:onclick="${currentPage == null} ? 'setPage('+ ${setLast} +') ' :  'setPage('+ ${(setLast+currentPage)/2} +') ' "/>
                <button type="button" class="page-button" th:name="id"
                        th:value="${setLast}"
                        th:text="${setLast}"
                        th:onclick="'setPage('+ ${setLast} +') '"/>
            </span>
        </form>
    </div>
    <script th:inline="javascript">
        var tasksAll = [[${taskList}]];
    </script>

</div>

