<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>SIT|Изменение учётной записи</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="/css/imgProfile.css" rel="stylesheet">
    <link href="/css/validation.css" rel="stylesheet">
    <link href="/css/formData.css" rel="stylesheet">
    <script src="/js/urlTemplates.js"></script>
    <script src="/js/requests.js"></script>
    <script src=/js/validation.js></script>
    <script src=/js/jointFunctions.js></script>
    <script src="/js/userRoleEdit.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=5694d7f9-f8dc-4349-9d30-9dc5a908a417&lang=ru_RU"
            type="text/javascript">
    </script>
</head>

<body onload="loadFormUserRoleEdit()">

<header th:insert="blocks/header :: header"></header>

<div class="external-cont">
    <form id="form-user-role-edit" method="post" th:object="${user}" class="form-data"
          style="width: 600px; text-align: center;">
        <h3>
            Изменение учётной записи
        </h3>
        <img th:src="${user.getUserImage()}" class="mb-4 img-user-profile">
        <h4 class="mb-4" th:text="${user.getLastname() + ' ' + user.getFirstname() + ' ' + user.getMiddlename()}"/>
        <input type="text" class="form-control mb-2" th:value="${user.getEmail()}" readonly>
        <input type="text" class="form-control mb-2" id="input-phone-number" th:value="${user.getPhoneNumber()}"
               readonly>
        <input type="hidden" id="input-cur-role-name" th:value="${user.getRole()}">
        <input type="hidden" id="input-user-id" th:value="${user.getId()}">
        <input type="hidden" id="input-region-id" th:if="${user.getRegion()} != null"
               th:value="${user.getRegion().getId()}">
        <input type="hidden" id="input-appointment" th:value="${user.appointment}">
        <input type="hidden" id="input-municipality" th:if="${user.municipality} != null"
               th:value="${user.municipality.id}">
        <button type="submit" id="btn-change" class="btn btn-primary mt-4" disabled>
            Изменить
        </button>        
    </form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

<script src="/js/mapForAllTasksLocation.js" type="text/javascript"></script>
</body>
</html>