<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>TF|Редактирование роли</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/imgProfile.css" rel="stylesheet">
    <link href="/css/validation.css" rel="stylesheet">
    <script src="/js/urlTemplates.js"></script>
    <script src="/js/requests.js"></script>
    <script src=/js/validation.js></script>
    <script src="/js/rolesAndRegionsValidation.js"></script>
    <script src="/js/userRoleEdit.js"></script>
</head>

<body onload="loadFormUserRoleEdit()">

<header th:insert="blocks/header :: header"></header>

<form id="form-user-role-edit" method="post" th:object="${user}" class="container pt-4 pb-4"
      style="width: 480px; text-align: center;">
    <h3>
        Изменение роли
    </h3>
    <img th:src="${user.getUserImage()}" class="mb-4"/>
    <h4 class="mb-4" th:text="${user.getLastname() + ' ' + user.getFirstname() + ' ' + user.getMiddlename()}"/>
    <p th:text="'Электронная почта: '+${user.getEmail()}"/>
    <p id="p-phone-number" th:text="'Номер телефона: '+${user.getPhoneNumber()}"/>
    <input type="hidden" id="input-cur-role-name" th:value="${user.getRole().getName()}">
    <input type="hidden" id="input-user-id" th:value="${user.getId()}">
    <input type="hidden" id="input-region-id" th:if="${user.getRegion()} != null"
           th:value="${user.getRegion().getId()}">
    <div id="div-btn-actions" class="mt-4">
    <button type="submit" class="btn btn-primary mr-2" disabled>
        Изменить
    </button>
    <button type="button" class="btn btn-danger" disabled onclick="resetBtn()">
        Сбросить
    </button>
    </div>
</form>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>