<div class="bg-primary shadow-sm" th:fragment="header">
    <link href="/css/pageConfig.css" rel="stylesheet">
    <div class="container pt-4 pb-4" style="display: flex; width: 100%; font-family: sans-serif; ">
        <a th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_MAIN_PAGE}" class="mr-4"
           th:href="@{${url}}" style="text-decoration: none;">
                <span class="text-white" style="font-weight: bold; font-size: 24px;">
                    DIMI 2020|Социальный ситуационный центр
                </span>
        </a>
        <a sec:authorize="!isAuthenticated()" style="text-decoration: none;margin-left: auto;"
           th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_USER_LOGIN}" th:href="@{${url}}">
            <span class="text-white" style="font-weight: bold; font-size: 24px; vertical-align: super;">
                Вход и регистрация
            </span>
        </a>
        <div sec:authorize="isAuthenticated()" style="margin-left: auto;">
            <script src=/js/header.js></script>
            <link href="/css/header.css" rel="stylesheet">
            <div sec:authorize="hasAuthority('Пользователь')" style="display: inline-block;">
                <a th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_POST_TASK}" th:href="@{${url}}"
                   style="text-decoration: none" class="mr-1">
                    <span class="text-white" style="font-weight: bold; font-size: 24px">Создать проблему</span>
                </a>
                <a href="#" class="text-white mr-1" style="text-decoration: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                    </svg>
                </a>
            </div>
            <a th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_ADMINISTRATION}" th:href="@{${url}}"
               sec:authorize="hasAuthority('Админ')" style="text-decoration: none">
                <span class="text-white" style="font-weight: bold; font-size: 24px">Администрирование</span>
            </a>
            <a href="#" sec:authorize="hasAnyAuthority('Соц. работник','Ответственный')"
               style="text-decoration: none">
                <span class="text-white" style="font-weight: bold; font-size: 24px">Актуальные проблемы</span>
            </a>
            <div id="div-hidden-login-menu" style="display: inline-block;">
                <button style="background: none;border: none;" onclick="showLoginMenu()">
                    <img th:src="${#authentication.getPrincipal().getUserImage()}"
                         style="width: 34px; height: 34px; display: inline-block;border-radius: 100%;"/>
                    <span class="text-white" th:text="${#authentication.getPrincipal().getFirstname()}"
                    style="overflow: hidden; max-width: 135px; display: inline-block; vertical-align: middle;"/>
                </button>
                <form method="post" th:action="@{/logout}" id="form-login-menu"
                      class="dropdown-content">
                    <div align="center">
                        <a th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_USER_PROFILE}"
                           th:href="@{${url}(id=${#authentication.getPrincipal().getId()})}"
                           class="btn btn-outline-primary mt-1 mb-1">
                            <span>Мой профиль</span>
                        </a>
                        <a th:with="url=${T(com.netcracker.project.url.UrlTemplates).LOCAL_URL_PERSONAL_ACCOUNT}"
                           th:href="@{${url}}" class="btn btn-outline-success mb-1">
                            <span>Личный кабинет</span>
                        </a>
                        <button type="submit" class="btn btn-outline-danger mb-1">
                            <span>Выйти</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>